/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/files
/public/icon
/public/images
/public/assets
/public/css/*
!/public/css/vendor
!/public/js/vendor
/public/mix-manifest.json
/storage/*.key
/storage/app/public/*
/storage/framework/*
/storage/logs/*
/storage/*
!/storage/.gitkeep
composer.lock
package-lock.json
/vendor/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.sass-cache
.DS_Store
/public/fonts
.composer.lock
yarn.lock
